body{
	background: #FFF4F3;
	margin: 0;
	font-family: 'Pavanam', sans-serif;
}
header{
	background-color: #423E3D;
}
#logo{
	width: 100px;
	margin-left: 10%;

}
.explication{
	text-align: center;
}
#listeDept{
	display: none;
}
#ville{
	position: absolute;
	left: 42%;
	top: 22%;
	font-weight: bold;
	text-decoration: underline;
}
#ecole{
	position: absolute;
	left: 62%;
	top: 22%;
	font-weight: bold;
	text-decoration: underline;
}
#liste{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	height: 500px;
	width: 18%;
	overflow: auto;
}
#liste2{
	position: absolute;
	left: 68.5%;
	top: 55%;
	transform: translate(-50%,-50%);
	height: 500px;
	width: 15%;
	overflow: auto;
}
#entete_maladie{
	position: absolute;
	left: 81%;
	top: 22%;
	font-weight: bold;
	text-decoration: underline;
}
#maladie{
	position: absolute;
	left: 90%;
	top: 55%;
	transform: translate(-50%,-50%);
	height: 500px;
	width: 18%;
}
li{
	list-style: none;
	cursor: pointer;
}
#canvasMap{
    position: absolute;
    left: 25%;
    top: 60%;
    transform: translate(-50%, -50%);
    width : 500px;
    height : 500px;
    z-index: 1;
    
}
#canvas{
	position: absolute;
	left: 25%;
	top: 60%;
	transform: translate(-50%, -50%);
}
#legende {
	position: absolute;
	left: 12%;
	top: 30%;
	font-size: 12px;
	color: #FF5B2B;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #FFF4F3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;  
}
footer{
	position: absolute;
	bottom: 0;
	right:0;
	left: 0;
	background-color: #423E3D;
}
#mention{
	color: #FF6B35;
	text-align: center;
}

@media all and (max-width :1024px){

	#canvas, #canvasMap, #legende{
		display: none;
	}
	#listeDept{
		margin-top: 20px;
		display: block;
		overflow: auto;
		height: 210px;
	}
	#ville{
		left: 10%;
		top: 45%;
	}
	#liste{
		width: 40%;
		left: 0px;
		transform: translate(0%, 0%);
		height: 210px;
	}
	#ecole{
		left: 53%;
		top: 45%;
	}
	#liste2{
		width: 40%;
		left: 45%;
		transform: translate(0%, 0%);
		height: 210px;
	}
	#entete_maladie{
		left: 53%;
		top: 75%;
	}
	#maladie{
		width: 40%;
		left: 50%;
		top: 80%;
		transform: translate(0%, 0%);
		height: 100px;
	}
} 